<!DOCTYPE html>
<html lang="en">

<head>
    <title>MBBS Programms</title>
    <meta charset="UTF-8">
    <meta name="description" content="Saarthi Visa | Student Visa | Work Visa ">
    <meta name="keywords" content="cryptocurrency, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/menu.css" />
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/style.css" />



    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section clearfix">
        <div class="container-fluid">
            <a href="/" class="site-logo">
                <img src="img/logo.png" style="width: 150px " alt="" srcset="">
            </a>
            <div class="responsive-bar"><i class="fa fa-bars"></i></div>
            <a href="" class="user"><i class="fa fa-user"></i></a>
            <nav class="main-menu">
                <ul class="menu-list">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Study</a>
                        <div class="dropdown-content" style="min-width:400px;">
                            <div class="subnav-content">
                                <ul class="box">
                                    <li>
                                        <a href="/us-s" style="color:white;"><img src="img/flag/us.png" class="img"><br>US</a>
                                    </li>
                                    <li>
                                        <a href="/uk-s" style="color:white;"><img src="img/flag/uk.png" class="img"><br>UK</a>
                                    </li>
                                    <li>
                                        <a href="/canada-s" style="color:white;"><img src="img/flag/ca.png" class="img"><br>Canada</a>
                                    </li>

                                    <li>
                                        <a href="/australia-s" style="color:white;"><img src="img/flag/au.png" class="img"><br>Austra..</a>
                                    </li>
                                    <li>
                                        <a href="/ireland-s" style="color:white;"><img src="img/flag/ir.png" class="img"><br>Ireland</a>
                                    </li>
                                    <li>
                                        <a href="/newzealand-s" style="color:white;"><img src="img/flag/new.png" class="img"><br>New</a>
                                    </li>
                                    <li>
                                        <a href="/switzerland-s" style="color:white;"><img src="img/flag/swi.png" class="img"><br>Switze</a>
                                    </li>
                                    <li>
                                        <a href="/belgium-s" style="color:white;"><img src="img/flag/bul.png" class="img"><br>Bulgoria</a>
                                    </li>
                                    <li>
                                        <a href="/germany-s" style="color:white;"><img src="img/flag/ger.png" class="img"><br>Germa..</a>
                                    </li>

                                    <li>
                                        <a href="/singapore-s" style="color:white;"><img src="img/flag/sin.png" class="img"><br>Singp..</a>
                                    </li>
                                    <li>
                                        <a href="/philippines-s" style="color:white;"><img src="img/flag/philippines.png" class="img"><br>philip..</a>
                                    </li>
                                    <li>
                                        <a href="/france-s" style="color:white;"><img src="img/flag/france.png" class="img"><br>France</a>
                                    </li>
                                    <li>
                                        <a href="/georgia-s" style="color:white;"><img src="img/flag/georgia.png" class="img"><br>Georgia</a>
                                    </li>
                                    <li>
                                        <a href="/italy-s" style="color:white;"><img src="img/flag/italy.png" class="img"><br>Italy</a>
                                    </li>
                                    <li>
                                        <a href="/sweden-s" style="color:white;"><img src="img/flag/sweden.png" class="img"><br>Sweden</a>
                                    </li>
                                    <li>
                                        <a href="/china-s" style="color:white;"><img src="img/flag/china.png" class="img"><br>China</a>
                                    </li>
                                    <li>
                                        <a href="/portugal-s" style="color:white;"><img src="img/flag/portugal.png" class="img"><br>Portug..</a>
                                    </li>
                                    <li>
                                        <a href="/hungary-s" style="color:white;"><img src="img/flag/hungary.png" class="img"><br>Hunga..</a>
                                    </li>

                                    <li>
                                        <a href="/norway-s" style="color:white;"><img src="img/flag/norway.png" class="img"><br>Norway</a>
                                    </li>
                                    <li>
                                        <a href="/russia-s" style="color:white;"><img src="img/flag/russia.png" class="img"><br>Russia</a>
                                    </li>
                                    <li>
                                        <a href="/ukraine-s" style="color:white;"><img src="img/flag/ukraine.png" class="img"><br>Ukraine</a>
                                    </li>
                                    <li>
                                        <a href="/lithuania-s" style="color:white;"><img src="img/flag/lithuania.png" class="img"><br>Lithua</a>
                                    </li>
                                    <li>
                                        <a href="/latvia-s" style="color:white;"><img src="img/flag/latvia.png" class="img"><br>Latvia</a>
                                    </li>
                                    <li>
                                        <a href="/australia-s" style="color:white;"><img src="img/flag/austria.png" class="img"><br>Australia</a>
                                    </li>
                                    <li>
                                        <a href="/belgium-s" style="color:white;"><img src="img/flag/belgium.png" class="img"><br>Belgium</a>
                                    </li>
                                    <li>
                                        <a href="/cyprus-s" style="color:white;"><img src="img/flag/cyprus.png" class="img"><br>Cyprus</a>
                                    </li>
                                    <li>
                                        <a href="/netherland-s" style="color:white;"><img src="img/flag/netherlands.png" class="img"><br>Nethe..</a>
                                    </li>
                                    <li>
                                        <a href="/spain-s" style="color:white;"><img src="img/flag/spain.png" class="img"><br>Spain</a>
                                    </li>
                                    <li>
                                        <a href="/greece-s" style="color:white;"><img src="img/flag/greece.png" class="img"><br>Greece</a>
                                    </li>
                                    <li>
                                        <a href="/dominica-s" style="color:white;"><img src="img/flag/dominica.png" class="img"><br>Dominica</a>
                                    </li>
                                    <li>
                                        <a href="/czech-s" style="color:white;"><img src="img/flag/czech-republic.png" class="img"><br>Czech</a>
                                    </li>
                                    <li>
                                        <a href="/malaysia-s" style="color:white;"><img src="img/flag/malaysia.png" class="img"><br>Malaysia</a>
                                    </li>

                                </ul>

                            </div>


                        </div>
                    </li>

                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Migrate</a>
                        <div class="dropdown-content">
                            <div class="subnav-content" style="width: 200px;">
                                <ul class="box">
                                    <li>
                                        <a href="/ca-mi" style="color:white;"><img src="img/flag/ca.png" class="img"><br>Canada</a>
                                    </li>
                                    <li>
                                        <a href="/au-mi" style="color:white;"><img src="img/flag/au.png" class="img"><br>Australia</a>
                                    </li>

                                    <li>
                                        <a href="/new-mi" style="color:white;"><img src="img/flag/new.png" class="img"><br>New</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Invest</a>
                        <div class="dropdown-content">
                            <div class="subnav-content" style="width: 200px;">
                                <ul class="box">
                                    <li>
                                        <a href="/uk-invest" style="color:white;"><img src="img/flag/uk.png" class="img"><br>UK</a>
                                    </li>
                                    <li>
                                        <a href="/bulgaria-invest" style="color:white;"><img src="img/flag/bahrain.png" class="img"><br>Bulgraia</a>
                                    </li>

                                    <li>
                                        <a href="/spain-invest" style="color:white;"><img src="img/flag/spain.png" class="img"><br>Spain</a>
                                    </li>
                                    <li>
                                        <a href="/cyprus-invest" style="color:white;"><img src="img/flag/cyprus.png" class="img"><br>cyprus</a>
                                    </li>
                                    <li>
                                        <a href="/greece-invest" style="color:white;"><img src="img/flag/greece.png" class="img"><br>greece</a>
                                    </li>

                                    <li>
                                        <a href="/malta-invest" style="color:white;"><img src="img/flag/malta.png" class="img"><br>malta</a>
                                    </li>
                                    <li>
                                        <a href="/hungary-invest" style="color:white;"><img src="img/flag/hungary.png" class="img"><br>hungary</a>
                                    </li>
                                    <li>
                                        <a href="/st-invest" style="color:white;"><img src="img/flag/saint-kitts-and-nevis.png" class="img"><br>St.Kitts</a>
                                    </li>

                                    <li>
                                        <a href="/antigua-invest" style="color:white;"><img src="img/flag/antigua-and-barbuda.png" class="img"><br>Antigua</a>
                                    </li>
                                    <li>
                                        <a href="/grenada-invest" style="color:white;"><img src="img/flag/grenada.png" class="img"><br>Grena</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Work</a>
                        <div class="dropdown-content" style="width: 200px;">
                            <div class="subnav-content">
                                <ul class="box">
                                    <li>
                                        <a href="/po-work" style="color:white;"><img src="img/flag/papua-new-guinea.png" class="img"><br>Poland</a>
                                    </li>
                                    <li>
                                        <a href="/uk-work" style="color:white;"><img src="img/flag/uk.png" class="img"><br>UK</a>
                                    </li>

                                    <li>
                                        <a href="/au-work" style="color:white;"><img src="img/flag/au.png" class="img"><br>Australia</a>
                                    </li>
                                    <li>
                                        <a href="/ir-work" style="color:white;"><img src="img/flag/ir.png" class="img"><br>Ireland</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="/nurses">Nurses</a></li>
                    <li><a href="/mbbs">MBBS Programmes</a></li>
                    <li><a href="/contact"> Contact</a></li>
                </ul>
            </nav>

        </div>
    </header>
    <!-- Header section end -->


    <!-- Page info section -->
    <section class="page-info-section">
        <div class="container">
            <h2>MBBS Programms</h2>
            <div class="site-beradcamb">
                <a href="">Home</a>
                <span><i class="fa fa-angle-right"></i> MBBS Programms</span>
            </div>
        </div>
    </section>
    <!-- Page info end -->


    <!-- Blog section -->
    <section class="single-blog-page spad">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="blog-item bi-feature">
                        <figure class="blog-thumb">
                            <img src="img/nurse.png" alt="">
                        </figure>
                        <div class="blog-text">

                            <h2 class="blog-title"><a href="">MBBS Programms</a></h2>

                            <p>In every Indian family, one of the most prominent career choices that parents plan for their children is either engineering or Medical. Having gained a strong foothold in the Engineering Stream for education abroad, La Globe
                                has moved into gaining headway in the field of Medicine, now we do MBBS admission to 12+ countries.
                            </p>
                            <p>
                                Judging by the very low percentage of students being successful in gaining a seat for their MBBS education in their city of preference or even the country in spite of their capability and aptitude for the profession, we see a lot of students who move
                                to a paramedical course or end up wasting years trying to repeat the various entrance exams. When the pocket permits or as a last resort, parents prepare to pay donation for in the range of seats starting from the lowest
                                of Rs. 27 Lakhs for a college in the outskirts of cities. The same seat ranges from about Rs. 50 Lakhs to Rs. 1 Crore as donation plus tuition fees.
                            </p>
                            <img src="img/1.jpg" alt="" srcset="">
                            <p>From the entire population of the students that put their hard work and perspiration, a mere 2% get through, due to the limited number of seats available. Only 5345 students (a mere 1.90%) cleared out of 2,80,548 applicants
                                in 2013. India, is at a position of one doctor per 1,700 citizens in India whereas the WHO insists on a minimum ratio of 1:1,000. As per the Health ministry there are about 6-6.5 Lakhs doctors available, but India would
                                need about 4 Lakhs more by year 2020 to reach the ideal ratio.</p>

                            <p>There are opportunities outside of India which helps create doctors on the basis of their aptitude for the subject rather than the ‘result of a one day competitive exam’ pattern. We at La Globe believe that it is only fair
                                to let the student justify their urge to be professional medical practitioners rather than settling for professions that do not let them show the best in them.</p>

                            <img src="img/2.jpg" alt="" srcset="">
                            <p>There is no need of entrance tests or competitive exams as there are enough seats available. These Doctors can now practice in India in their choice of hospitals or even hospital chains and enjoy the same privileges as the
                                MBBS doctors from India. They may also choose to study further in India or in countries like UK, USA etc…
                            </p>


                            <blockquote><b> BULGARIA – MBBS Study</b></blockquote>
                            <p>This is the most sought after route in this profession to overseas. The main countries that are attractive to be a registered nurses at present are UK, Ireland, Australia, US, newzealand Czech Republic and Canada.</p>

                            <p>Medical Universities in Bulgaria (in English medium) are among the very few medical universities in Europe that offers a course in English. These Universities provide high quality of medical education, with high tech and modern
                                facilities, today, doctors from Bulgaria are well respected and appreciated all over the world. The Bulgarian medical universities attract thousands of international Medical school students every year especially from Germany,
                                Sweden, Norway UK and Ireland. Most of the students are fascinated by medicine in Bulgaria because of the quality of the studies, European standard labs, and choosing the language of study in English. </p>

                            <h5>For more details please fill our online <a href="http://"> ASSESSMENT FORM</a></h5><br>
                            <h4 class="mb-3">The main attractions:</h4>

                            <ul>
                                <li>Reasonable tuition fees</li>
                                <li>Low living cost</li>
                                <li>Having a recognized degree all over Europe and beyond</li>
                                <li>Possibility of medical university transfer</li>
                                <li>High qualified and experienced staff</li>
                                <li>Student mobility</li>
                                <li>Very advanced medical laboratories</li>
                                <li>Safe and friendly environment</li>

                            </ul><br>

                            <p>The Universities offers the medical programmes in English which runs for 6 years (Medicine & Dentistry). Bulgaria has been and remains one of the main European destination for international students ever since Bulgaria become
                                a European Union member (in 2007). Bulgarian medical degrees are fully recognized in the whole community and beyond. Most of Bulgarian Universities have more than 20 years experience of teaching in international languages
                                (English or French or German programmes).
                            </p>

                            <blockquote>PHILIPPINES – MBBS Study</blockquote>
                            <p>Philippines offers American system of medical education and the Primary Medical qualification is M.D. Degree(MBBS). This qualification is globally recognized including the Medical Council of India. The MBBS program of Philippines
                                is a unique opportunity for students who have passed 12th standard or equivalent examinations to pursue medical education of International standards. Colour, splendour and hospitable people, are all in the country of Philippines.
                                With beaches and islands around it, the Republic of Philippines is like a mini retreat to vacationers and the local population alike. Weather condition in this extensive coastal region is very similar to that in India,
                                with rain and a temperate climate.</p>

                            <p>Yes, there is immense cultural diversity in the society with an international exposure. It is in close proximity to other Asian countries thereby being a constant tourist destination. It has extensive business centres and advanced
                                information technology. With the highest literacy rate of about 94% in Asia, Philippines is home to a major student crowd. It is much affordable to study MBBS in Philippines rather than in various other countries that offer
                                high quality education. Many parents believe that Philippines is the right place for their children to study MBBS because it offers many good reasons for quality education.</p>

                            <h5>For more details please fill our online <a href="http://"> ASSESSMENT FORM</a></h5><br>

                            <h4 class="mb-3">The main attractions:</h4>

                            <ul>
                                <li>Philippines is the world's third largest English-speaking country with a highest English literacy rate in Asia. The mode of instruction in all levels of education is English which is the widely-used language for business,
                                    education, communication and trade.</li>
                                <li>It has a tropical climate with a disease pattern similar to India</li>
                                <li>Climate and disease pattern is similar to that in India, giving the students a firsthand practical experience before they start practicing.</li>
                                <li>Degree recognized by Medical Council of India (MCI): The accreditation with MCI defines the MBBS holder from India and an MD holder from Philippines at the same level.</li>
                                <li>Global recognition and acceptance of the degree. Quality medical education as recognized by World Health Organization (WHO), IMED of ECFMG- USA, MCI, FAIMER, USMLE and similar other bodies. Top Universities renowned worldwide</li>
                                <li>Integrated problem-based learning approach giving future medical practitioners a better exposure even before they have started practice</li>
                                <li>Modern teaching methods with first-rate facilities and equipped with the well-established infrastructure
                                </li>
                                <li>Option to start working on preparation for the United States Medical Licensing Examination (USMLE) to study Post Graduate Degrees</li>
                                <li>Excellent boarding and lodging provided by the university. Separate Hostel for both boys and girls. Availability of Indian food for students.</li>
                                <li>Global exposure by working alongside various nationalities as well.</li>
                                <li> Asian country with close proximity to India</li>
                                <li>Extensive Syllabus and curriculum similar as in India</li>
                                <li>Affordable cost of education</li>
                                <li> Excellent hands on practice</li>
                                <li>Ideal student-patient ratio</li>


                            </ul>






                        </div>
                    </div>
                </div>

            </div>
    </section>
    <!-- Blog section end -->


    <!-- Newsletter section -->
    <section class="newsletter-section gradient-bg">
        <div class="container text-white">
            <div class="row">
                <div class="col newsletter-text">
                    <h4 style="text-align: center">PLEASE CONTACT US BY PHONE AND WHATS-APP <br><br><i class="fa fa-phone" aria-hidden="true"></i> : +91 9712981002
                        <br><br><i class="fa fa-phone" aria-hidden="true"></i> : +91 9712981002
                    </h4>
                </div>

            </div>
        </div>
    </section>
    <!-- Newsletter section end -->


    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row spad">

                <div class="col-md-6 col-lg-3 offset-lg-1 footer-widget">
                    <h5 class="widget-title">Phone Number</h5>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +919712981002 <br><br><i class="fa fa-phone" aria-hidden="true"></i> +919979281002 <br>
                        <br> <b style="color:rgb(48, 48, 228)">Email</b> <br>
                        <a href="info@saarthivisa.com"> <i class="fa fa-envelope-o" aria-hidden="true"></i> info@saarthivisa.com</a>

                    </p>
                </div>
                <div class="col-md-6 col-lg-3 offset-lg-1 footer-widget">
                    <h5 class="widget-title">Head Office</h5>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> SB-15,Gajanand Complex,<br>Opp.Tube Company,OPRoad, Vadodara-390020. <br><br>
                        <b style="color:rgb(48, 48, 228)">Branch Office</b> <br> <i class="fa fa-map-marker" aria-hidden="true"></i> Vijay Baug Road,Junglighat,<br> Portblair, South Andaman <br> India-744103
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 footer-widget pl-lg-5 pl-3">
                    <h5 class="widget-title">Follow Us</h5>
                    <div class="social">
                        <a href="https://www.facebook.com/saarthitourism1002/" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/saarthi_tourism/" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">

                    <div class="col text-lg-right ">
                        <p style="text-align: center">Copyright © 2018All right reserved Saarthi Visa <br style="float:left"> Developers
                           <b>Parentheses Infotech</b>
                        </p>
                        <ul class="footer-nav ">
                            <li><a href="index.html">home</a></li>
                            <li><a href="contact.html">Contact Us</a></li>


                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>