<!DOCTYPE html>
<html lang="en">

<head>
    <title>Saarthi visa</title>
    <meta charset="UTF-8">
    <meta name="description" content="Saarthi Visa | Student Visa | Work Visa ">
    <meta name="keywords" content="cryptocurrency, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="../img/favicon.ico" rel="shortcut icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/themify-icons.css" />
    <link rel="stylesheet" href="../css/owl.carousel.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <style>
        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            padding: 10px 35px;
            cursor: pointer;
            border-radius: 1%;
        }
        
        ul.tabs li.current {
            background: #28b9d3;
            color: whitesmoke;
            border-radius: 5%;
            background-color: rgb(0, 110, 255);
            /* For browsers that do not support gradients */
            background-image: linear-gradient(to right, rgb(0, 110, 255), rgb(17, 180, 192));
        }
        
        .tab-content {
            display: none;
            background: white;
            padding: 35px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 1%;
        }
        
        .tab-content:hover {
            box-shadow: 0 4px 8px 0 rgba(7, 65, 112, 0.2), 0 6px 20px 0 rgba(3, 84, 116, 0.19);
        }
        
        .tab-content.current {
            display: inherit;
        }
    </style>
    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    <header class="header-section clearfix">
        <div class="container-fluid">
            <a href="index.html" class="site-logo">
                <h4><a href="index.html"> saarthi</a></h4>
            </a>
            <div class="responsive-bar"><i class="fa fa-bars"></i></div>
            <a href="" class="user"><i class="fa fa-user"></i></a>
            <a href="" class="site-btn">Sign Up Free</a>
            <nav class="main-menu">
                <ul class="menu-list">
                    <li><a href="">Solution</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Header section end -->


    <!-- Page info section -->
    <section class="page-info-section">
        <div class="container">
            <h2>St.Kitts &amp; Nevis</h2>
            <div class="site-beradcamb">
                <a href="">Home</a>
                <span><i class="fa fa-angle-right"></i>St.Kitts &amp; Nevis</span>
            </div>
        </div>
    </section>
    <!-- Page info end -->


    <!-- About section -->
    <section class="about-section spad">

        <div class="container">
            <h2><a href="">St.Kitts &amp; Nevis</a></h2>
            <a href="form.PDF" class="site-btn" style="float:right" download>Assessment Form</a>
            <br>

            <ul class="tabs ">
                <li class="tab-link current" data-tab="tab-1">Investor Visa</li>
                <li class="tab-link" data-tab="tab-2">Overview</li>

            </ul>

            <div id="tab-1" class="tab-content current">
                <div class="description" style="text-align: justify">
                    <p>
                        <p>

                        </p>
                        <h3><em>St. Kitts &amp; Nevis INVESTMENT VISA</em></h3>St Kitts Citizenship by Investment Program.
                        <p>The St. Kitts &amp; Nevis Citizenship by Investment Program is the oldest of its kind in the world. Established in 1984 the program grants citizenship through real estate investment to qualified applicants. The government requires
                            investment of $400,000 plus related government and due diligence fees. The investment must be in designated real estate projects and the investment can be sold after five years. Saint Kitts and Nevis has no tax on overseas
                            income or capital and a second citizenship may complement existing tax planning and wealth protection strategies. Citizens of St. Kitts &amp; Nevis enjoy visa free travel to over 120 countries including the EU Schengen visa
                            zone, the UK, Ireland, Switzerland and Canada.</p>
                        <h3><em>Key Facts</em></h3>
                        <ul>
                            <li><strong><em>Investment of $400,000 in real estate (or $250,000 SIDF donation)</em></strong></li>
                            <li><strong><em>Applicant fee $30,000, Spouse $5,000, Children $2,500.</em></strong></li>
                            <li><strong><em>Government processing fees of $50,000 per person (under 18, $25,000)</em></strong></li>
                            <li><strong><em>Due diligence fees per person: $7,500, $2,000 children, $4,000 age 18-25</em></strong></li>
                            <li><strong><em>Citizenship and second passport</em></strong></li>
                            <li><strong><em>Visa free travel to EU Schengen, UK, Canada.</em></strong></li>
                            <li><strong><em>Right to reside on the island</em></strong></li>
                            <li><strong><em>Tax free</em></strong></li>
                            <li><strong><em>No visit required</em></strong></li>
                        </ul>

                        <br>
                        <p></p>
                </div>
            </div>
            <div id="tab-2" class="tab-content">
                <p>

                    The former British colony of St Kitts and Nevis is inhabited mostly by the descendants of West African slaves. Its beaches, scenery and a warm, sunny climate give it great tourist potential. It is also vulnerable to hurricanes. The islands of St Kitts
                    - also known as St Christopher - and Nevis have been in an uneasy federation since independence from Britain in 1983, with some politicians in Nevis saying the federal government in St Kitts - home to a majority of the population -
                    had ignored the needs of Nevisians. <strong class="black">At a glance </strong><strong class="black">Politics:</strong>&nbsp;The Team Unity coalition won elections in 2015, ending the former ruling party's 20-year
                    reign <strong class="black">Economy:</strong>&nbsp;Tourism is a key foreign exchange earner and has helped compensate for the loss of the sugar industry But a referendum on secession held in Nevis in 1998 failed to gain the two-thirds
                    majority needed to break away. Tourism, offshore finance and service industries are important sources of income - more so since a centuries-old but loss-making sugar industry was wound down in 2005 with the loss of hundreds of jobs.
                    By 2003, Nevis was home to around 17,000 offshore businesses operating under strict secrecy laws, making the islands a target for drugs traffickers and money launderers. Laws have been introduced to crack down on the problem. Warner
                    Park ground in the capital Basseterre is an important international cricket venue

                    <br></p>
            </div>
    </section>
    <section class="review-section spad" style="background-color:rgb(231, 241, 245)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h3 alt="" class="quote mb-5">Glimpse of Universities & Collages</h3>
                    <div class="review-text-slider owl-carousel">
                        <div class="review-text">
                            <img src="../img/clg/usa1.png" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/usa2.png" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/usa3.png" style="display:inline-block;width:220px;margin:2%" alt="">
                            <img src="../img/clg/usa4.png" style="display:inline-block;width:220px;margin:2%" alt="">
                        </div>
                        <div class="review-text">
                            <img src="../img/clg/au1.png" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/au2.png" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/au3.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                            <img src="../img/clg/21.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                        </div>
                        <div class="review-text">
                            <img src="../img/clg/1.jpg" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/2.jpg" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/3.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                            <img src="../img/clg/4.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                        </div>

                        <div class="review-text">
                            <img src="../img/clg/5.jpg" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/6.jpg" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/7.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                            <img src="../img/clg/8.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                        </div>

                        <div class="review-text">
                            <img src="../img/clg/9.jpg" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/10.jpg" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/11.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                            <img src="../img/clg/12.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                        </div>
                        <div class="review-text">
                            <img src="../img/clg/13.jpg" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/14.jpg" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/15.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                            <img src="../img/clg/16.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                        </div>
                        <div class="review-text">
                            <img src="../img/clg/17.jpg" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/18.jpg" style="display:inline-block;;width:220px;margin:2%" alt="">
                            <img src="../img/clg/19.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                            <img src="../img/clg/20.jpg" style="display:inline-block;width:220px;margin:2%" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter section -->
    <section class="newsletter-section gradient-bg">
        <div class="container text-white">
            <div class="row">
                <div class="col newsletter-text">
                    <h4 style="text-align: center">PLEASE CONTACT US BY PHONE AND WHATS-APP <br><br><i class="fa fa-phone" aria-hidden="true"></i> : +91 9712981002
                        <br> <br><i class="fa fa-phone" aria-hidden="true"></i> : +91 9979281002</h4>
                </div>

            </div>
        </div>
    </section>
    <!-- Newsletter section end -->


    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="row spad">

                <div class="col-md-6 col-lg-3 offset-lg-1 footer-widget">
                    <h5 class="widget-title">Phone Number</h5>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +919712981002 <br><br><i class="fa fa-phone" aria-hidden="true"></i> +919979281002 <br>
                        <br> <b style="color:rgb(48, 48, 228)">Email</b> <br>
                        <a href="info@saarthivisa.com"> <i class="fa fa-envelope-o" aria-hidden="true"></i> info@saarthivisa.com</a>

                    </p>
                </div>
                <div class="col-md-6 col-lg-3 offset-lg-1 footer-widget">
                    <h5 class="widget-title">Head Office</h5>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> SB-15,Gajanand Complex,<br>Opp.Tube Company,OPRoad, Vadodara-390020. <br><br>
                        <b style="color:rgb(48, 48, 228)">Branch Office</b> <br> <i class="fa fa-map-marker" aria-hidden="true"></i>Aim Academy School <br>140,141,142 Roop Nagar ,<br> Chamti khera Road , Chittorgarh - 312001. <br> <b>Mobile:</b>82395
                        60220
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 footer-widget pl-lg-5 pl-3">
                    <h5 class="widget-title">Follow Us</h5>
                    <div class="social">
                        <a href="https://www.facebook.com/saarthitourism1002/" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/saarthi_tourism/" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row">

                    <div class="col text-lg-right ">
                        <p style="text-align: center">Copyright © 2018All right reserved Saarthi Visa <br style="float:left"> Developers
                            <a href="bdigital.tech"> By Be.Digital</a>
                        </p>
                        <ul class="footer-nav ">
                            <li><a href="https://www.saarthivisa.com">home</a></li>
                            <li><a href="https://www.saarthivisa.com/contact">Contact Us</a></li>


                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </footer>




    <!--====== Javascripts & Jquery ======-->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/main.js"></script>
</body>
<script>
    $(document).ready(function() {

        $('ul.tabs li').click(function() {
            var tab_id = $(this).attr('data-tab');

            $('ul.tabs li').removeClass('current');
            $('.tab-content').removeClass('current');

            $(this).addClass('current');
            $("#" + tab_id).addClass('current');
        })

    })
</script>

</html>